<section class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center fw-bold">About Me</h2>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis atque blanditiis quo ut nisi temporibus deserunt nostrum laboriosam rerum, iusto, voluptate magnam repellendus illum asperiores commodi impedit cupiditate velit facere?</p>
        
            <a href = "https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg" Download = "test_image">
               <button type = "button" class="btn btn-warning"> Download Resume </button>
            </a>
        </div>
    </div>
</section>
